.icon-pinterest, .icon-pinterest-sign { color: #910101; }
.icon-facebook, .icon-facebook-sign { color: #3b5998; }
.icon-twitter, .icon-twitter-sign { color: #00a0d1; }
.icon-vimeo, .icon-vimeo-sign { color: #44bbff; }
.icon-vimeo.alt-color, .icon-vimeo-sign.alt-color { color: #aad450; }
.icon-tumblr, .icon-tumblr-sign { color: #34526f; }
.icon-youtube, .icon-youtube-sign { color: #c4302b; }
.icon-linkedin, .icon-linkedin-sign { color: #4875B4; }
.icon-google, .icon-google-sign { color: #C63D2D; }
.icon-foursquare, .icon-foursquare-sign { color: #8FD400; }
.icon-instagram, .icon-instagram-sign { color: #4E433C; }